<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="kb.api.url" value="http://devbilling.propertycompass.com.au:8080" />-->
    
    <add key="kb.api.url" value="http://10.1.1.150:8080"/>
    <add key="kb.api.key" value="pctest2"/>
    <add key="kb.api.secret" value="pctest2secret"/>
    <add key="kb.http.user" value="admin"/>
    <add key="kb.http.password" value="password"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
