<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="kb.api.url" value="http://devbilling.propertycompass.com.au:8080" />
    <add key="kb.api.key" value="testApiKey" />
    <add key="kb.api.secret" value="testSecretKey" />
    <add key="kb.http.user" value="admin" />
    <add key="kb.http.password" value="password" />
    
  </appSettings>
</configuration>