<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="kb.api.url" value="http://devbilling.propertycompass.com.au:8080" />-->
    
    <add key="kb.api.url" value="http://54.66.220.186:8080" />
    <add key="kb.api.key" value="pctest" />
    <add key="kb.api.secret" value="pctestsecret" />
    <add key="kb.http.user" value="admin" />
    <add key="kb.http.password" value="password" />
    
  </appSettings>
</configuration>